.button {
  color: #FFF;
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Poppins", serif;

  padding: 1rem 1.5rem;

  border: none;
  border-radius: 5px;

  cursor: pointer;
  transition: background-color 02s ease;
}

.button:hover {
  opacity: 0.9;
}

.clear {
  background-color: hsl(1, 85%, 65%);
  border-bottom: 2px solid hsl(1, 50%, 50%);
}

.operator {
  background-color: hsl(35, 100%, 50%);
  border-bottom: 2px solid hsl(35, 65%, 35%);
}

.equal {
  background-color: hsl(122, 40%, 50%);
  border-bottom: 2px solid hsl(122, 10%, 35%);
}

.button:not(.clear):not(.operator):not(.equal) {
  background-color: hsl(200, 16%, 50%);
  border-bottom: 2px solid hsl(200, 16%, 35%);
}